<ion-header no-border>
    <ion-toolbar no-border>
        <ion-title style=" color: #3B455A;font-size: 24px;font-weight: bold;text-align: center">
            Inicio
        </ion-title>
        <ion-buttons [routerLink]="['/profile']" slot="start">
            <ion-icon size="large" src="/assets/icons/avatar.svg" padding></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon size="large" src="/assets/icons/settings-work-tool (1).svg" (click)="presentModal()" padding>
            </ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>




<ion-content>

    <div #map class="map" id="map" style="position: relative"></div>

    <div text-center *ngIf="cargandoRutas===true">
        <ion-spinner name="bubbles"></ion-spinner>
        <p>Cargando Rutas </p>
    </div>

    <div padding>
        <h2 margin-bottom> Trayectos cerca tuyo </h2>
        <div text-center *ngIf="cargandoTrayecto===true">
            <ion-spinner name="bubbles"></ion-spinner>
            <p>Cargando Tablon</p>
        </div>
        <ion-card *ngFor="let item of trayectos">
            <ion-card-content (click)="open(item.id)" style="height: 110px;border-radius: 100px!important">
                <ion-row class="carta">
                    <ion-col size="5">
                        {{ item.inicio }}
                    </ion-col>
                    <ion-col size="2">
                        <ion-icon style=" font-size: 25px;color: #3B455A" src="assets/icons/right-arrow.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="5">
                        {{ item.destino }}
                    </ion-col>

                </ion-row>

                <ion-row class="cartadesc">
                    <ion-col size="5">
                        {{ item.hora }} Salida
                    </ion-col>
                    <ion-col size="2"></ion-col>
                    <ion-col style="font-size: 12px;text-align: center" size="3">
                        {{ item.asientos }} <br>Asiento
                    </ion-col>
                    <ion-col size="2">
                        <br>
                        <ion-icon style=" font-size: 45px;color: #3B455A;margin-bottom: 0%;"
                            src='assets/icons/{{ item.vehiculo }}.svg'></ion-icon>
                    </ion-col>

                </ion-row>
            </ion-card-content>
        </ion-card>
        <br>
        <h3>Cargar más</h3>
        <br>



        <ion-row>
            <ion-col size="10">

            </ion-col>
            <ion-col size="2">
                <ion-buttons *ngFor="let item of profiledata" (click)="presentModal2(item, nombre)">
                    <ion-icon slot="end" size="large" src="/assets/icons/add.svg"></ion-icon>
                </ion-buttons>
            </ion-col>
        </ion-row>

        <h2>Tablon</h2>

        <div text-center *ngIf="cargandoTablon===true">
            <ion-spinner name="bubbles"></ion-spinner>
            <p>Cargando Tablon</p>
        </div>


        <ion-card *ngFor="let item of tablondata">
            <ion-card-content [routerLink]="['/profile']" style="min-height: 100px;border-radius: 100px!important">
                <h3 class="post">{{ item.info }}</h3>

                <ion-row>
                    <ion-col size="9">
                        <h4 style="text-align: left;color: #3B455A">{{ item.nombre }}</h4>
                    </ion-col>
                    <ion-col size="3">
                        <h4>{{ item.fecha | date:'short' }}</h4>

                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

    </div>
</ion-content>